.element-div {
  color: white;
  background-color: #212121;
  height: 150px;
  width:150px;
  margin: 16px 8px;
}

/* play with the position property now */
.element-div {
  position: relative;
  top: 100px;
  left: 280px;
}
