/* Parent div: div-parent */

.div-parent {
  position: relative;
  border: 10px dotted green;
  width: 250px;
  height: 600px;
  margin-left: 100px;
  margin-top: 20px;
}

/* Child div: div-child */

.div-child {
  /*position: relative;*/
  border: 10px dotted red;
  width: 400px;
  height: 350px;
  margin: 0;
}
