:root {
  --primary-color: #020202;
  --secondary-color: #0ea5e9;
  --background: no-repeat center/cover url("/img/faded-office.png");
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.main-div {
  background: var(--background);
  height: 100vh;
}

.h1-div {
  margin-top: 100px;
}
